    <!-- About Section -->
    <section id="about" class="contain page">
      <div class="limiter clearfix pad4y">
        <div class="col8 clearfix space-bottom2 contain">
          <div class="col10 margin2r space-bottom2">
            <h1 class="space-bottom2">State of the Map Asia 2024</h1>
            <p style="text-align: justify;">State of the Map Asia will bring together participants from around the world to discuss challenges, learn, and celebrate many years of mapping together. <a href="about" style="text-decoration: none;">......... Read More</a></p>
             <a href="travel_support" style="text-decoration: none; color: rgb(14, 10, 248);"><h2>Non- Bangladeshi: Travel Support <span class="badge pulsate">Here !</span></h2></a>

            {% include countdown.html %}

             <p class="logo">
                <img src="img/app_download.png" style="width:60%;">
            </p>
            <div>
                SotM Asia 2024 Mobile Application.  <a href="https://github.com/mapbd/sotmAsia2024/releases/download/SotM-Asia-2024_1_2/sotmAsia2024-v1.2-1-debug.apk" class="btn btn-default btn-lg">Download App</a>
            </div>
          </div>
        </div>
        <div class="col4 clearfix contain">
          <h3 class="small-title uppercase">Where?</h3>
          <p>
            <a href="coxsbazar">Cox's Bazar, Bangladesh.</a>
          </p>

          <h3 class="small-title uppercase">When?</h3>
          <p>
            30 November -1 December , 2024
          </p>

          <!--<h3 class="small-title uppercase"><a href="events">Social Event</a></h3>
          <p>
            TBD
          </p>-->

          <!--<h3 class="small-title uppercase">Additional Events</h3>
          <ul>
          </ul>-->

          <h3 class="small-title uppercase" style="height:0">&nbsp;</h3>
          <p>
            <a href="https://boiledbhoot.org/"><img src="img/logo/boil.png" style="height:85px; margin-top:20px;" /></a>
            <h4>Bangladesh Open Innovation Lab (BOIL)</h4>
            <a href="https://osmbd.org/"><img src="img/osmbd.png" style="height:85px; margin-top:20px;" /></a>
            <h4>OpenStreetMap Bangladesh</h4>
            <a href=""><img src="img/logo/ymbd.png" style="height:85px; margin-top:20px;" /></a>
            <h4>YouthMappers Bangladesh</h4>

    <!-- <small style="text-align: justify;">OpenStreetMap Bangladesh or OSM Bangladesh or OSMBD is a community of Bangladesh. Every OpenStreetMap Contributor from Bangladesh is part of OpenStreetMap Bangladesh Community.</small> -->
        </p>
        </div>
      </div>
    </section>
