<!-- Footer -->
<footer class="contain" id="footer">
    <div class="limiter">
      <div class="pad2y clearfix">
        <div class="space-bottom1 col12 clearfix footer-links">
          <div class="col3 pad4x hide-mobile">
          </div>
          <nav class="col3 pad2x">
            <a class="block" href="{{site.baseurl}}/tickets">Tickets</a>
            <a class="block" href="{{site.baseurl}}/about"block>About</a>
            <a class="block" href="{{site.baseurl}}/coxsbazar">Venue &amp; Transportation</a>
            <!-- <a class="block" href="{{site.baseurl}}/transport">Transportation</a> -->
            <!-- <a class="block" href="{{site.baseurl}}/call4proposal">Call for Proposal</a>
            <a class="block" href="{{site.baseurl}}/call4scholarship">Call for Scholarship</a> -->
            <a class="block" href="{{site.baseurl}}/share_ur_story">Share Your Story</a>
            <a class="block" href="{{site.baseurl}}/call4poster">Call for Poster</a>
            <a class="block" href="{{site.baseurl}}/travel_support">Travel Support</a>
            <!-- <a class="block" href="{{site.baseurl}}/calls/general"block>Call for Participation</a> -->
            <!--<a class="block" href="https://lists.openstreetmap.org/pipermail/science/2021-February/000093.html">Call for applications for the Scientific Committee</a>-->
            <!-- <a class="block" href="{{site.baseurl}}/calls/academic">Call for Scientific Abstracts</a> -->
            <!--<a class="block" href="{{site.baseurl}}/calls/posters">Call for Posters</a>-->
            <!--<a class="block" href="https://wiki.openstreetmap.org/wiki/State_of_the_Map_2022/registration_lightning_talks">Call for Lightning Talks</a>-->
            <!--<a class="block" href="{{site.baseurl}}/calls/translators">Call for Translation Volunteers</a>-->
            <!--<a class="block" href="https://wiki.openstreetmap.org/wiki/State_of_the_Map_2021/registration_lightning_talks">Call for Lightning Talks</a>-->
            <!-- <a class="block" href="{{site.baseurl}}/calls/travel_grants">Travel Grant Programme</a> -->
            <a class="block" href="{{site.baseurl}}/coc/">Code of conduct</a>
          </nav>
          <nav class="col3 pad2x">
            <!--<a class="block" href="{{site.baseurl}}/programme/">Programme</a>-->
            <!--<a class="block" href="{{site.baseurl}}/posters/">Posters</a>-->
            <!--<a class="block" href="https://zenodo.org/record/7004791">Proceedings of the Academic&nbsp;Track</a>-->
            <!--<a class="block" href="{{site.baseurl}}/artwork/">Artwork</a>-->

            <!-- <a class="block" href="{{site.baseurl}}/venue/">Venue</a> -->
            <!--<a class="block" href="{{site.baseurl}}/events/">Social Event</a>-->
          <!--</nav>
          <nav class="col3 pad2x">-->
            <!-- <a class="block" href="#">Mastodon&nbsp;<svg class="icon"><use xlink:href="{{site.baseurl}}/img/icons/mastodon.svg#icon" href="{{site.baseurl}}/img/icons/mastodon.svg#icon"></use></svg></a> -->
            <a class="block" href="https://x.com/sotmasia">Twitter&nbsp;<span class="icon twitter"></span></a>
            <!-- <a class="block" href="#">Youtube&nbsp;<span class="icon video"></span></a> -->
            <a class="block" href="https://www.facebook.com/SotmAsia/">Facebook&nbsp;<span class="icon facebook"></span></a>
            <a class="block" href="https://t.me/+nUCQpqtFzy84ZmY1">Telegram<span class="icon compass"></span></a>
          </nav>
          <nav class="col3 pad2x">
            <a class="block" href="https://github.com/sotm-asia/sotm-asia-2024-website">GitHub&nbsp;<span class="icon github"></span></a>
            <!-- <a class="block" href="#">OSM blog</a> -->
            <a class="block" href="https://wiki.openstreetmap.org/wiki/State_of_the_Map_Asia">Wiki page</a>
            <a class="block" href="https://osmbd.org/">OpenStreetMap Bangladesh</a>
          </nav>
          <nav class="col3">
            <img src="{{site.baseurl}}/img/logo/State-of-the-Map-Asia-Logo.svg" class="logo" />
          </nav>
        </div>
      </div>
        <div class="center">
          <p>
            <a href="mailto:stateofthemapasia@gmail.com"><span class="icon mail" aria-hidden="true">stateofthemapasia@gmail.com</span>&nbsp; </a> or <a href="mailto:sotmbd@gmail.com">sotmbd@gmail.com</a> - <a href="{{site.baseurl}}/imprint/">Imprint</a>
          </p>
        </div>
      </div>
</footer>
