     <!-- Intro Header -->
<header class="intro">

      <div class="intro-body">
        <div class="slideshow-container">

<div class="mySlides fade">
  <img src="./img/1.jpg" style="width:100%">
</div>

<div class="mySlides fade">
  <img src="img/2.jpg" style="width:100%">
</div>

<div class="mySlides fade">
  <img src="img/4.jpg" style="width:100%">
</div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>
          <div class="limiter">
              <div class="left">
                  <div class="col12">
                      <div class="col4 margin4 margin4r">
                          <div class="aizu-logo" style="float: left;">
                           <img src="img/logo/intro.png" style="height: 300px; width: auto;" />
                          </div>
                      <a href="#about" class="btn btn-circle page-scroll">
                          <i class="icon big down animated"></i>
                      </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="credits">
          Developed by:  <a href="https://arahmandc.github.io/">Atikur Rahman</a> ©  (<a href="https://boiledbhoot.org/">BOIL</a>)
        </div>
  </header>
