<!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="limiter">


                <div class="attending">
                  <img src="img/logo/State-of-the-Map-Asia-Logo.svg">
                  <h1 class="space-bottom2">Thanks for Attending State of the Map Asia 2024!</h1>

                  <p>
                    <ul>
                      <li>Conference Posters are published <a href="/posters/">on the website</a>.</li>
                      <li>Session videos are published on <a href="https://www.youtube.com/playlist?list=PLolvAg8MWAlSR2vWyEQB6fsTUi5IPT43K">youtube channel</a>.</li>


                      <li>Follow State of the Map Asia on social media (<a href="https://www.facebook.com/SotmAsia/">Facebook</a> or <a href="https://x.com/sotmasia">X</a>).</li>
                      <li>Connect with others in our <a href="https://t.me/+nUCQpqtFzy84ZmY1">telegram group chat</a> and share your State of the Map Asia experience!</li>
                    </ul>
                  </p>
                  <p>Thanks to our <a href="/#sponsors">sponsors</a> for supporting SotM Asia 2024!</p>

              </div>

            </div>
        </div>
        <div class="credits">
          Developed by:  <a href="https://arahmandc.github.io/">Atikur Rahman</a> ©  (<a href="https://mapbd.github.io/web">MapBD</a>).
        </div>
    </header>
