    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="limiter">
                <div class="left">
                    <div class="col12">
                        <div class="col4 margin4 margin4r">
                            <div class="aizu-logo">
                             <img style="height: 150px; width: auto;" src="img/logo/State-of-the-Map-Asia-Logo.svg"/>
                            <a href="#about" style="padding-top: auto;" class="btn btn-circle page-scroll">
                                <i class="icon big down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="credits">
          Developed by:  <a href="https://arahmandc.github.io/">Atikur Rahman</a> ©  (<a href="https://mapbd.github.io/web">MapBD</a>).
        </div>
    </header>
