<div id="map" style="height:420px; width:100%"></div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    //var map = L.map('map').setView([21.37, 90.48], {{ include.zoom }});
    var map = L.map('map').setView([21.37, 90.48],5);
    L.control.scale().addTo(map);
    L.tileLayer('{{ site.map_tiles.url}}', {
      attribution: '{{ site.map_tiles.attribution }}',
      maxZoom: {{ site.map_tiles.maxZoom}}
    }).addTo(map);
    map.scrollWheelZoom.disable();
    L.marker([21.424941160082344, 91.971926601932], {icon: L.icon({
      iconUrl: "{{ "/img/logo/State-of-the-Map-Asia-map-pin.svg" | prepend: site.baseurl }}",
      iconSize: [40, 40],
      iconAnchor: [30, 60]
    })}).bindPopup("<h3>Cox's Bazar, Bangladesh</h3><p><a href='https://www.openstreetmap.org/?mlat=21.4150&mlon=91.9820#map=14/21.4150/91.9820' target='_blank'>Open location on osm.org</a>.</p>").addTo(map);
  }, false);
</script>
