 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top  {% if page.role != "index" %} top-nav-collapse stay-collapsed {% endif %}" role="navigation">
        <div class="limiter">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <span class="icon menu"></span>
                </button>
                <a class="navbar-brand" href="{{site.baseurl}}/">
                 SOTM Asia 2024
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <div class="nav navbar-nav">

                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>


                  <li><a class="{% if page.url contains '/tickets' %}active{% endif %}" href="{{site.baseurl}}/tickets">Tickets</a></li>
                  <li><a class="{% if page.url contains '/about' %}active{% endif %}" href="{{site.baseurl}}/about">About</a></li>
                  <li class="nav-item dropdown btn-hover navbar-main-collapse">
                      <a class="nav-link page-scroll" data-toggle="dropdown" href="">Conference <i class="icon down animated"></i></a>
                      <ul class="nav navbar-nav dropdown-menu">
                         <!-- <li><a class="{% if page.url contains '/call4proposal' %}active{% endif %}" href="{{site.baseurl}}/call4proposal">Call for Proposal</a></li>
                         <li><a class="{% if page.url contains '/call4scholarship' %}active{% endif %}" href="{{site.baseurl}}/call4scholarship">Call for Scholarship</a></li> -->
                         <!-- <li><a class="{% if page.url contains '/share_ur_story' %}active{% endif %}" href="{{site.baseurl}}/share_ur_story">Share Your Story</a></li>
                         <li><a class="{% if page.url contains '/call4poster' %}active{% endif %}" href="{{site.baseurl}}/call4poster">Call for Posters</a></li> -->
                         <li><a class="{% if page.url contains '/nominations' %}active{% endif %}" href="{{site.baseurl}}/nominations">Call for Nomination</a></li>
                         <li><a class="{% if page.url contains '/volunteers' %}active{% endif %}" href="{{site.baseurl}}/volunteers">Call for Volunteers</a></li>
                      </ul>
                  </li>
                  <!-- <li class="nav-item dropdown btn-hover navbar-main-collapse">
                    <a class="nav-link page-scroll" data-toggle="dropdown" href="">Cox's Bazar <i class="icon down animated"></i></a>
                    <ul class="nav navbar-nav dropdown-menu">
                       <li><a class="{% if page.url contains '/coxsbazar' %}active{% endif %}" href="{{site.baseurl}}/coxsbazar">Venue</a></li>
                       <li><a class="{% if page.url contains '/transport' %}active{% endif %}" href="{{site.baseurl}}/transport">Transportation</a></li>
                    </ul>
                </li> -->

                  <li><a class="{% if page.url contains '/coxsbazar' %}active{% endif %}" href="{{site.baseurl}}/coxsbazar">Venue &amp; Transportation</a></li>



            </div>
        </div>
    </nav>
