<section class="contain dark" id="sponsors">

	<div class="limiter pad4y clearfix center" id="sponsoring-interested">
		<h1 class="space-bottom4">Interested in sponsoring?</h1>
		<p>
			Take a look at our <a href="{{site.baseurl}}/#">sponsorship prospectus</a> and contact us via email at <a href="mailto:stateofthemapasia@gmail.com">stateofthemapasia@gmail.com</a>!
		</p>
	</div>

	<div class="limiter pad4y clearfix">
		<h1 class="space-bottom2 center">Our sponsors</h1>

		<!-- <h3 class="clearfix small-title sponsors platinum">Platinum</h3>
		<div class="clearfix space-bottom2 space-top4 platinum">

      <a class="col2 pad2 space-bottom2" href="mailto:stateofthemapasia@gmail.com">
				<img src="img/sponsors.png" />
			</a>
		</div> -->

		<h3 class="clearfix small-title sponsors gold">Gold</h3>
    <div class="clearfix space-top2 space-bottom4">
      <div class="col3 pad2 space-bottom2 sponsor">
        <a href="https://www.hotosm.org/">
          <img src="img/sponsors/hot_logo.svg" style="margin-top: -12px;" alt="Hot">
        </a>
      </div>
    </div>

		<h3 class="clearfix small-title sponsors silver">Silver</h3>
		<div class="clearfix space-top2 space-bottom4">
			<div class="col3 pad2 space-bottom2 sponsor">
			  <a href="https://www.meta.com/">
				<img src="img/sponsors/meta.svg" style="margin-top: -12px;" alt="meta">
			  </a>
			</div>
		  </div>


		<h3 class="clearfix small-title sponsors bronze">Bronze</h3>

		<div class="clearfix space-bottom2 space-top4 platinum">
			<div class="col3 pad2 space-bottom2 sponsor">
				<a href="https://barikoi.com/">
					<img src="img/sponsors/barikoi.png" alt="barikoi">
				</a>
			</div>
			<div class="col3 pad2 space-bottom2 sponsor">
				<a href="https://boiledbhoot.org/">
					<img src="img/logo/boil.png" style="margin-top: -12px;" alt="boil">
				</a>
			</div>

			
		</div>



		

		<h3 class="clearfix small-title sponsors supporter">Supporter</h3>
		<div class="clearfix space-bottom2 space-top4 platinum">
			<div class="col3 pad2 space-bottom2 sponsor">
				<a href="https://www.tomtom.com/">
					<img src="img/sponsors/tomtom.png" alt="tomtom">
				</a>
			</div>
			<div class="col3 pad2 space-bottom2 sponsor">
				<a href="https://www.bkash.com/">
					<img src="img/sponsors/bkash.png" style="margin-top: -12px;" alt="bkash">
				</a>
			</div>

			
		</div>

</section>

